* {
  text-align: center;
  }
  
  .App {
    text-align: center;
    color: colors[randomColor]
  }
  
  .card {
      border-radius: 10px;
      padding: 20px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }
  
  .card h2{
    color: #009BF9;
  }
  
  .card h3{
    color: #009BF9;
  }
  
  .card b{
    color:#6CA0CF;
  }
  
  .card button{
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    }
